#### Pandas series code without dictionary.

In [2]:
import pandas as pd
data=[1,4,9,6,7]
series= pd.Series(data,index=["a","x","c",2,"e"])
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

#### Pandas series code using dictionary.

In [3]:
import pandas as pd
Dic={'Bilal':42, 'Ayesha':38, 'Hadia':39} 
series= pd.Series(Dic)
print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

####  Pandas dataframe code using python dictionary.

In [6]:
import pandas as pd

data={"Day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"], "Temperature":[32,35,28,24,32,31],
      "windspeed":[6,7,2,7,4,2], "Event":["Rain", "Sunny", "Snow","Snow", "Rain", "Sunny"] }

df=pd.DataFrame(data)
print(df)

        Day  Temperature  windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

#### Replace index in data frame by ['a','b','c','d','e','f']

In [7]:
import pandas as pd

data={"Day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"], "Temperature":[32,35,28,24,32,31], 
      "windspeed":[6,7,2,7,4,2], "Event":["Rain", "Sunny", "Snow","Snow", "Rain", "Sunny"],}

df=pd.DataFrame(data, index =['a','b','c','d','e','f'])

print(df)

        Day  Temperature  windspeed  Event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

#### Mean, maximum and minimum of data frame.

In [12]:
import pandas as pd

data={"Day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"], "Temperature":[32,35,28,24,32,31], 
      "windspeed":[6,7,2,7,4,2], "Event":["Rain", "Sunny", "Snow","Snow", "Rain", "Sunny"] }

df=pd.DataFrame(data)

Max=df["Temperature"].max()
Min=df["Temperature"].min()
Mean=df["Temperature"].mean()

print("The maximum of temperature is :", Max)
print("The minimum of temperature is :", Min)
print("The mean of temperature is :", Mean)

The maximum of temperature is : 35
The minimum of temperature is : 24
The mean of temperature is : 30.333333333333332

#### 'people.csv' import and 'Newpeople.csv' export.

In [ ]:
import pandas as pd

data= pd.read_csv("C:\\Users\\\Subhaan khokhar\\Downloads\\EDA Internship 2.0 Week 2\\EDA Internship 2.0 Week 2\\people.csv" ,usecols=["First Name", "Sex", "Email", "Phone", "Job Title"]
, index_col=["Sex", "Job Title"], skiprows=[1,5])

data.to_csv('NewPeople.csv')

####  SampleWork.xlsx.

In [ ]:
import pandas as pd

data= pd.read_excel("C:\\Users\\Subhaan khokhar\\Downloads\\EDA Internship 2.0 Week 2\\EDA Internship 2.0 Week 2\\SampleWork.xlsx"
                    , sheet_name='Sheet1',usecols=[0,-1], skiprows=[1], header = 1, index_col=["Name", "Percentage"])

data.to_excel('NewSheet.xlsx')

####  Dataframe as AICP_DF.

In [63]:
import pandas as pd

AICP_DF = pd.DataFrame({
    'Name': ['Sonia','Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age':[ 27,24,22,32,23], 
    'Adress':['Lahore','karachi', 'sialkot','peshawar', 'lhr'],
    'Qualification': ['MSC', 'MA', 'MCA', 'PHD', 'BSC']
})

df1 = AICP_DF[['Name', 'Qualification']]

AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

AICP_DF.set_index('Name', inplace=True)

row_hifza = AICP_DF.loc['Hifza']

row_index_3 = AICP_DF.iloc[3]

AICP_DF.drop(index='Bilal', inplace=True)

print("AICP_DF:")
print(AICP_DF)
print("\ndf1:")
print(df1)
print("\nRow with index 'Hifza':")
print(row_hifza)
print("\nRow with index 3:")
print(row_index_3)

AICP_DF:
       Age    Adress Qualification  Height
Name
Sonia   27    Lahore           MSC     5.1
Hifza   22   sialkot           MCA     5.1
Kabir   32  peshawar           PHD     5.2
Jazim   23       lhr           BSC     5.1

df1:
    Name Qualification
0  Sonia           MSC
1  Bilal            MA
2  Hifza           MCA
3  Kabir           PHD
4  Jazim           BSC

Row with index 'Hifza':
Age                   22
Adress           sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

Row with index 3:
Age                    32
Adress           peshawar
Qualification         PHD
Height                5.2
Name: Kabir, dtype: object